* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [full-start] minmax(4rem, 1fr) [center-start] repeat(auto-fit, [col-start] minmax(34rem, 1fr) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-row-gap: 10rem;
  justify-content: center;
  align-content: center;
  position: relative;
  background-color: #f7f7f7; }

.card {
  grid-column: center-start/center-end;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
  /* front side styling */
  /*back side styling */
  /* MOBILE CARD no :hover state */
  /* @include respond (tab-port) { */ }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 8rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
  .card__details {
    padding: 3rem; }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card .weather {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 19rem; }
    .card .weather .name,
    .card .weather .date {
      font-size: 2rem; }
    .card .weather .temp,
    .card .weather .city-temp {
      font-size: 4.5rem; }
    .card .weather .city-temp {
      text-align: center; }
    .card .weather .city-temp > sup {
      font-size: 3rem; }
    .card .weather .city-icon {
      width: 10rem;
      height: 10rem; }
      .card .weather .city-icon__figure {
        text-align: center; }
    .card .weather .description {
      font-size: 1.5rem; }
    .card .weather .date-range {
      font-size: 1rem; }
  .card .weather-forecast {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 8rem; }
    .card .weather-forecast .city {
      text-align: center;
      width: 100%;
      padding: 10px 30px; }
      .card .weather-forecast .city .name,
      .card .weather-forecast .city .date {
        font-size: 2rem; }
      .card .weather-forecast .city .max-min,
      .card .weather-forecast .city .city-temp {
        font-size: 1.5rem; }
      .card .weather-forecast .city .city-temp {
        text-align: center; }
      .card .weather-forecast .city .city-temp > sup {
        font-size: 1rem; }
      .card .weather-forecast .city .city-icon {
        width: 5rem;
        height: 5rem; }
      .card .weather-forecast .city .description {
        font-size: 1.25rem; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      grid-column: full-start/full-end;
      /* front side styling no changes

      /back side styling */ }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
        border-radius: 0; }
        .card__side--back {
          transform: rotateY(0);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card__details {
        padding: 1rem 3rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card:hover .card__side--back {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__price-box {
        margin-bottom: 3rem; }
      .card__price-value {
        font-size: 4rem; }
      .card .card {
        grid-column: full-start/full-end; }
      .card .weather-forecast {
        grid-template-columns: 1fr; } }
